doctype 5
html(lang="en-US")
    block vars

    head
        meta(charset="UTF-8")
        title Appular Project

        block head

    body

        header 
            block header

        block content

        footer
            block footer

        block scripts
            //- - if (environment === 'development')
            //-     script(src="/js/dev/libraries/require/require-2.1.9.js")
            //-     script(src="/js/dev/libraries/require/config.js")
            //- - else
            //-     script(src="/js/build/appular.js")